@import 'search_bar.scss';
@import 'gif.scss';
@import 'gif_list.scss';
@import 'carousel.scss';

body {
  font-family: 'Raleway', sans-serif;
}
.app {
  // margin-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(2, 133, 151, 1);
  min-height: 100vh;
}


