@import 'search_bar.scss';
@import 'gif.scss';
@import 'gif_list.scss';
@import 'carousel.scss';

body {
  font-family: Helvetica;
}
.app {
  // margin-top: 20px;
  margin-bottom: 20px;
  background-color: salmon;
  min-height: 100vh;
}


