.carousel {
	width: 97vw;
	margin-bottom: 30px;
	border: 10px solid rgb(20, 20, 20);
	// padding-bottom: 30px;
	// height: 50px;
	margin: auto;
}

.gifImg {
	width: 100vw;
	height: 60vh;
	object-fit: cover;
	object-position: center;
}

.trending_header {
	padding-left: 10px;
	color: white; 		;
	margin-bottom: 0px;
}