.gif_list_container {
	text-align: center;
	padding: 13px;
	margin-top: 30px;
	margin: auto;
	display: flex;
  	// flex-wrap: wrap; 
}

h2 {
	margin-top: 30px;
	// background-color: midnightBlue;
	color: white;
	text-align: center;
}