.search_bar_container {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: sticky;
	top: 0px;
	z-index: 20;
	background-color: rgba(20, 20, 20, 1);
	// padding: 30px;

	h4 {
		text-align: left;
		color: white;
		padding-top: 5px;
		padding-left: 10px;
	}

	.search {
		font-size: 28px;
		color: white;
		// background-color: white;
		padding-right: 10px;
	}

	.search_bar {
		text-align: center;
		background-color: white;
		color: grey;
		font-size: 28px;
		height: 40px;
		width: 96vw;
	}
}
