.search_bar_container {
	text-align: center;
	padding-bottom: 10px;
	// margin-bottom: 30px;
	position: sticky;
	top: 0px;
	z-index: 20;
	background-color: rgba(20, 20, 20, 1);
	// padding: 30px;


	.navigation {
		padding: 5px;
		display: flex;
		justify-content: space-between;
		
		h4 {
			font-weight: bold;
			border: 3px solid rgba(118, 0, 245, 1);
			// text-align: left;
			// color: white;
			padding: 5px 10px;
			background: linear-gradient(to right, rgba(238, 23, 37, 1), purple, rgba(23, 126, 238, 1));
		    background-clip: text;
		    -webkit-text-fill-color: transparent;
		    margin: 0;
		}
		

		.left {
			padding: 3px;
			// margin: 3px;
			.button {
				margin-left: 10px;
				// line-height: 0px;
				// padding: 3px;
				// margin: 0px;
				// color: white;
				// border: 1px solid white;
			}			
		}

	}

	.bar_container {
		display: flex;
		margin-top: 7px;
	 
		.search {
			font-size: 28px;
			color: rgba(212, 8, 65, 1);
			// background-color: white;
			padding: 5px 10px 10px 10px;
		}

		.search_bar {
			text-align: center;
			background-color: rgb(230, 230, 230);
			color: grey;
			font-size: 28px;
			height: 40px;
			width: 86vw;
		}
	}
}
