.search_bar_container {
	text-align: center;
	padding: 30px;

	.search_bar {
		text-align: center;
		background-color: purple;
		color: white;
		font-size: 28px;
		height: 40px;
		width: 80vw;
	}
}
